.category-page-container {
  max-width: 1000px;
  margin: 45px auto;
  padding: 20px;
}

.category-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  font-family: "NanumSquareNeoEB";
  text-align: center;
  font-size: 20px;
}

.category-title-container svg {
  font-size: 40px;
  margin-right: 10px;
}

.challenges-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 1000px;
}

.challenge-folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  margin: 10px;
  font-family: "NanumSquareNeoRG";
}

.challenge-folder:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.image-placeholder {
  position: absolute;
  background-color: #d0d0d0;
  border-radius: 5px;
}

.large-image {
  width: 100%;
  height: 100%;
}

.small-image {
  width: 90%;
  height: 90%;
  right: -10%;
  top: 5%;
  z-index: -1;
}

.challenge-info {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "NanumSquareNeoRG";
}

.challenge-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "NanumSquareNeoBD";
}

.challenge-count {
  font-size: 14px;
  font-family: "NanumSquareNeoRG";
}

.no-challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
  margin-top: 20px;
  font-family: "NanumSquareNeoRG";
}

.no-challenges p {
  margin: 50px 0;
  font-size: 35px;
  font-family: "NanumSquareNeoBD";
  text-align: center;
}

.createChallengeButton {
  background-color: #2DA7FF;
  color: #ffffff;
  text-align: center;
  width: 120px;
  height: 40px;
  font-size: 20px;
  padding: 0px 20px;
  border-radius: 20px;
  line-height: 40px;
  cursor: pointer;
  font-family: "NanumSquareNeoBD";
}

.createChallengeButton:hover {
  background-color: #2da7ff;
}

.skeleton-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skeleton-item {
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 15px;  
}
