.search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

.search-page-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.search-page-content {
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.search-page-content::-webkit-scrollbar {
  display: none;
}

.category-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.categories-grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

.search-results {
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.notFound {
  font-family: 'NanumSquareNeoBD';
  font-size: 25px;
  color: #000000;
  text-align: center;
  margin-top: 50px;
}
