.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* 세로 스크롤 활성화 */
}

.searchBar {
  margin: 20px 0;
  width: 50%;
}

.searchBar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 1.2rem;
  height: 2.4rem;
}

.categories {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.categoryButton {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 1.2rem;
  background-color: white;
  cursor: pointer;
  flex-shrink: 0;
}

.categoryButton:hover {
  background-color: #f0f0f0;
}

.allChallenges {
  width: 100%;
}

.categorySection {
  margin-bottom: 40px;
}

.categorySection h2 {
  margin-bottom: 20px;
}

.challenges {
  display: flex;
  flex-direction: row; /* 가로로 나열되도록 설정 */
  align-items: center;
  width: 100%;
  overflow-x: auto; /* 가로 스크롤 활성화 */
}
