.datePickerWrapper {
  position: relative;
}

.react-datepicker {
  position: absolute;
  top: -120px; /* 원하는 위치로 조정 */
  left: 130px;
  z-index: 1000;
  font-family: 'Pretendard-Regular', sans-serif;
}

.customHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #f1f1f1;
}

.month,
.year {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Pretendard-Regular', sans-serif;
  appearance: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
}

.month:focus,
.year:focus {
  outline: none;
  border: 2px solid black;
  padding: 3px;
}

.month option,
.year option {
  background-color: #fff;
  color: #333;
}

.monthButton {
  background: none;
  border: none;
  cursor: pointer;
}

.react-datepicker {
  font-family: 'Pretendard-Regular', sans-serif;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-around;
}

.react-datepicker__day-name {
  width: auto;
  color: black;
  background-color: #f1f1f1;
  font-size: 14px;
  border-radius: 5px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2.5rem;
  line-height: 1.5rem;
}

.react-datepicker__current-month {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.react-datepicker__header {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

.react-datepicker__day--selected{
  background-color: #2DA7FF !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent;
}

.react-datepicker__day--disabled {
  color: #ccc;
  pointer-events: none;
}

.react-datepicker__day:hover {
  background-color: #2DA7FF;
  color: #fff;
}

.react-datepicker__day--in-range {
  background-color: #2DA7FF !important;
}


.react-datepicker__day--today {
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.react-datepicker__triangle {
  display: none !important;
}