.new-challenge-page {
  height: 100vh;
  background-color: #f9f9f9;
  font-family: 'Pretendard-Regular';
  user-select: none;
}

.new-challenge-container {
  position: absolute;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 70%;
  height: 600px;
  /* min-width: 700px; */
  left: calc(15%);
  top: calc(50% - 300px);
}

.new-challenge-left {
  position: absolute;
  width: 250px;
  height: 100%;
  padding: 40px;
  /* background-color: red; */
}

.new-challenge-right {
  position: absolute;
  width: calc(100% - 250px);
  height: 100%;
  right: 0;
  /* background-color: blue; */
}

.new-challenge-text { 
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  font-family: "NanumSquareNeoBD";
  transform: scale(1);
  animation: scaleText 0.6s ease-in-out forwards;
  cursor: pointer;
}

.scale-fizz {
  transform: scale(1);
  animation: scaleText 1s ease-in-out forwards;
}

@keyframes scaleText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}


.new-challenge-container form {
  position: absolute;
  left: 10%;
  margin-top: 20px;
  width: 80%;
  height: 300px;
  /* max-width: 1200px; */
  /* background-color: red; */
}

.new-challenge-container img {
  display: block;
  margin: 0 auto 20px;
  width: 150px;
  cursor: pointer;
}

/* .challenge-form {
  position: absolute;
  width: 100%;
} */

.challenge-form label {
  /* display: flex; */
  /* align-items: center; */
  font-size: 16px;
  font-weight: 500;
  color: #333;
  /* margin-top: 30px; */
}

.category-title {
  text-align: center;
}

.form-plus2 {
  position: absolute;
  left: 0px;
  display: block;
}

.form-plus {
  font-size: 14px;
  color: #666;
  margin-left: 10px;
}

.form-plus svg {
  margin-right: 5px;
}

/* .input-wrapper {
  height: 60px;
  background-color: red;
} */

.challenge-input,
.challenge-form-description {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  background-color: #f1f1f1;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  word-wrap: break-word;
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
  transition: transform 0.3s ease, border 0.3s ease;
}

.challenge-input:focus,
.challenge-form-description:focus {
  outline: 3px solid #2DA7FF;
  /* padding: 12.5px; */
  animation: border-focus 0.3s forwards;
}

@keyframes border-focus {
  0% {
    outline: 3px solid transparent;
  }
  100% {
    outline: 3px solid #2DA7FF;
  }
}

.char-count {
  position: absolute;
  font-size: 15px;
  color: #999;
  margin-left: -50px;
  margin-top: 16px;
}

.category-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
  color: #2DA7FF;
  background-color:  white;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-card.selected, 
.category-card:hover {
  border-color: #007bff;
  background-color: #2DA7FF !important;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.upload-info {
  margin-top: 20px;
}

.upload-required {
  display: flex;
  align-items: center;
}

.upload-required span {
  margin-left: 5px;
}

.create-challenge-button {
  background-color: #2DA7FF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  margin: 20px auto;
  transition: background-color 0.3s ease;
  font-family: 'Pretendard-Regular';
}

.create-challenge-button:hover {
  background-color: #1A76D2;
}

.create-challenge-button.disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}