.loginBack {
    position: absolute;
    background: rgb(197,231,255);
    background: linear-gradient(135deg, rgba(197,231,255,1) 0%, rgba(133,191,233,1) 100%);
    width: 100%;
    height: 100%;
}

.loginAllWrap {
    position: absolute;
    width: 800px;
    height: 700px;
    top: calc(50% - 350px);
    left: calc(50% - 400px);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginLogo {
    position: absolute;
    font-family: "IrishGrover";
    font-size: 100px;
    color: #ffffff;
    width: 100%;
    height: 100px;
    line-height: 100px;
    top: calc(50% - 50px);
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.loginBackWrap {
    position: absolute;
    background-color: #2DA7FF;
    width: 50%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.loginWrap {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: #ffffff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.loginTitle {
    position: absolute;
    font-size: 40px;
    text-align: center;
    font-family: "NanumSquareNeoEB";
    width: 100%;
    height: 40px;
    top: 150px;
}

.loginDescLine {
    position: absolute;
    top: calc(50% - 35px);
    width: 80%;
    left: 10%;
    border: 0.5px solid black;
}

.loginDesc {
    position: absolute;
    width: 150px;
    height: 30px;
    background-color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-family: "NanumSquareNeoBD";
    left: calc(50% - 75px);
    top: calc(50% - 50px);
}

.kakaoIcon {
    position: absolute;
    width: 25px;
    top: calc(50% - 12.5px);
    left: 20px;
}

.googleIcon {
    position: absolute;
    width: 25px;
    height: 25px;
    top: calc(50% - 12.5px);
    left: 20px;
}

.loginBtn {
    position: absolute;
    width: 80%;
    height: 60px;
    left: 10%;
    border-radius: 20px;
    font-family: "NanumSquareNeoBD";
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;      
    transition: .1s;   
    user-select: none;       
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}

.loginKakaoBtn {
    background-color: #FEE500;
    top: calc(50%);
    color: #191919;
}

.loginGoogleBtn {
    background-color: #ffffff;
    top: calc(50% + 70px);
    color: #0000008a;
}