.follow-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  margin: 50px auto;
}

.follow-page-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.button-container {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 30px;
  overflow: hidden;
}

.toggle-button {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #888;
  transition: background-color 0.3s, color 0.3s;
  font-family: "NanumSquareNeoBD";
}

.toggle-button.active {
  background-color: white;
  color: black;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  font-family: "NanumSquareNeoBD";
}

.list h1 {
  margin-bottom: 10px;
}

.user-block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-numbers {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-numbers li {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.page-numbers li.active {
  background-color: #2da7ff;
  color: white;
}
