.followPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  margin: 70px auto 0px auto;
}

.followPageMainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

/* SlideBar 관련 스타일 */

.slideBar-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px; /* 가로 크기 고정 */
}
.slideBar {
  background-color: #f0f0f0;
  width: 320px; /* 가로 크기 고정 */
  height: 60px; /* 세로 크기 고정 */
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
  margin: 10px auto;
  position: relative;
}

.slideBtn {
  position: absolute;
  width: 150px; /* 각 버튼의 크기에 맞게 조정 */
  height: 50px;
  background-color: #ffffff;
  border-radius: 20px;
  transition: .5s cubic-bezier(.5,0,.2,1);
}

.slideBarBtn {
  width: 150px; /* 각 버튼의 크기에 맞게 조정 */
  height: 50px;
  border-radius: 20px;
  text-align: center;
  color: #898989;
  line-height: 50px;
  font-size: 20px;
  font-family: "NanumSquareNeoRG";
  z-index: 1;
  cursor: pointer;
  transition: .3s;
}

.slideBarBtn:not(.slideBarSelectedContent):hover {
  background-color: #dfdfdf;
}

.slideBarSelectedContent {
  color: #000000;
  font-family: "NanumSquareNeoBD";
}

.Select0 {
  left: 95px;
}

.Select1 {
  left: 250px; /* 160px + 5px */
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
  font-family: "NanumSquareNeoBD";
}

.list h1 {
  margin-bottom: 10px;
}

.userBlockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pageNumbers {
  display: flex;
  list-style: none;
  padding: 0;
}

.pageNumbers li {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.pageNumbers li.active {
  background-color: #2da7ff;
  color: white;
}
