.follow-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.mainContent {
  width: 100%; /* 추가: mainContent의 너비를 100%로 설정 */
  max-width: 1200px;
  padding: 20px; /* 추가: padding을 추가하여 여백을 줌 */
}

.buttonContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 30px;
  overflow: hidden;
}

.toggleButton {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #888;
  transition: background-color 0.3s, color 0.3s;
}

.toggleButton.active {
  background-color: white;
  color: black;
  font-weight: bold;
}

.searchBar {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBar input {
  display: flex;
  width: 500px;
  max-width: 1000px; /* 추가: 최대 너비를 설정하여 큰 화면에서 너무 넓어지지 않도록 함 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.List {
  width: 100%;
  margin-bottom: 20px;
}

.List h1 {
  margin-bottom: 10px;
}
