.back {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    z-index: 2;
    animation: fadein forwards .3s;
}

.popup {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: #ffffff;
    left: calc(50% - 200px);
    top: calc(50% - 300px);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
    z-index: 3;
    animation: openPopup forwards .3s;
}

.fadeout {
    animation: fadeout forwards .3s;
}

.closePopup {
    animation: closePopup forwards .3s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

@keyframes openPopup {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes closePopup {
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
    0% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.close {
    position: absolute;
    font-size: 50px;
    top: 5px;
    right: 30px;
    cursor: pointer;
    user-select: none;
    transition: .1s;
}

.title {
    font-size: 30px;
    font-family: "NanumSquareNeoBD";
    text-align: center;
    margin-top: 50px;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin: 30px auto;
    box-shadow: rgba(110, 110, 110, 0.2) 0px 0px 20px 0px;
}

.img img {
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.imgBtn {
    position: absolute;
    opacity: 0;
    background-color: #00000080;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 30px;
    left: calc(50% - 50px);
    transition: .2s ease;
    cursor: pointer;
}

.imgBtn:hover {
    opacity: 1;
}

.imgBtnIcon {
    font-size: 30px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.setBasic {
    position: absolute;
    width: 130px;
    left: calc(50% - 65px);
    margin-top: -25px;
    text-align: center;
    font-size: 15px;
    font-family: "NanumSquareNeoRG";
    color: #777777;
    cursor: pointer;
}

.setBasic:hover {
    text-decoration: underline;
}

.checkId {
    position: absolute;
    top: 255px;
    right: 55px;
    width: 80px;
    height: 30px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    background-color: #2DA7FF;
    color: #ffffff;
    font-family: "NanumSquareNeoRG";
    cursor: pointer;
}

.id, .name, .desc, .email {
    width: 300px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    font-size: 20px;
    font-family: "NanumSquareNeoRG";
    margin: 10px 50px;
    padding: 5px;
    transition: .2s;
}

.id {
    padding-right: 90px;
}

.id:focus, .name:focus, .desc:focus, .email:focus {
    outline: none;
    border-bottom: 2px solid #2DA7FF;
}

.popup input[type="text"] + label {
    position: absolute;
    font-family: "NanumSquareNeoRG";
    font-size: 20px;
    margin-top: 17px;
    left: 55px;
    color: #777777;
    transition: .2s ease;
    user-select: none;
}

.popup input[type="text"]:focus {
    outline: none;
}

.popup input[type="text"]:focus + label,
.popup input[type="text"]:valid + label {
    transform: translate(-10px, -25px) scale(0.8);
}


.submit {
    position: absolute;
    background-color: #2DA7FF;
    color: #ffffff;
    width: auto;
    height: 45px;
    font-size: 20px;
    padding: 0px 20px;
    border-radius: 30px;
    line-height: 45px;
    cursor: pointer;
    transition: .1s;
    font-family: "NanumSquareNeoBD";
    right: 30px;
    bottom: 30px;
}

.delete {
    position: absolute;
    color: #ff0000;
    font-size: 15px;
    cursor: pointer;
    font-family: "NanumSquareNeoRG";
    left: 30px;
    bottom: 30px;
}

.delete:hover {
    text-decoration: underline;
}