.profileWrapper {
    width: 1000px;
    height: 150px;
    margin: 50px auto;
    margin-top: 100px;
}

.profileImg {
    position: absolute;
    width: 150px;
    height: 150px;
    /* background-color: #d9d9d9; */
    border-radius: 50%;
}

.profileImg img {
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    user-select: none;
    -webkit-user-drag: none;
}

.profileImgSkeleton {
    position: absolute;
    top: -2.5px;
}

.profileName {
    position: absolute;
    margin-top: 20px;
    margin-left: 170px;
    font-size: 35px;
    font-family: "NanumSquareNeoBD";
}

.profileNameSkeleton {
    /* position: absolute; */
    margin-top: 20px;
    margin-left: 170px;
}

.profileInfoIcon {
    position: absolute;
    color: #2DA7FF;
    font-size: 30px;
    top: 5px;
    right: -40px;
}

.profileInfo {
    position: absolute;
    background-color: #ffffff;
    width: auto;
    height: 70px;
    padding: 10px 20px 10px 40px;
    font-size: 20px;
    z-index: 1;
    top: 15px;
    border: 1px solid #000000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: "NanumSquareNeoRG";
}

.profileInfo .infoIcons {
    position: absolute;
    left: 15px;
    margin-top: 3px;
}

.profileDesc {
    position: absolute;
    margin-top: 65px;
    margin-left: 170px;
    font-size: 20px;
    font-family: "NanumSquareNeoRG";
}

.profileDescSkeleton {
    /* position: absolute; */
    margin-top: 5px;
    margin-left: 170px;
}

.profileStat {
    position: absolute;
    top: 130px;
    right: calc(50% - 500px);
    text-align: center;
}

.profileStat div {
    display: inline-block;
    font-family: "NanumSquareNeoRG";
    font-size: 20px;
    margin-right: 30px;
}

.profileStat div:last-child {
    margin-right: 0;
}

.profileStat div div {
    display: block;
    font-family: "NanumSquareNeoBD";
    font-size: 40px;
    color: #2DA7FF;
    cursor: pointer;
    margin-right: 0;
}

.profileDynamicBtn {
    position: absolute;
    margin-top: 95px;
    margin-left: 170px;
}

.profileDynamicBtnSkeleton {
    /* position: absolute; */
    margin-top: 10px;
    margin-left: 170px;
}

.profileBtn {
    display: inline-block;
    width: auto;
    height: 30px;
    font-size: 16px;
    padding: 0px 12px;
    margin: 0px 3px;
    border-radius: 20px;
    line-height: 30px;
    cursor: pointer;
    transition: .1s;
    user-select: none;
    font-family: "NanumSquareNeoBD";
}

.profileEditBtn {
    background-color: #d9d9d9;
}

.profileLogoutBtn {
    background-color: #ff3636;
    color: #ffffff;
}

.profileFollowBtn {
    background-color: #2DA7FF;
    color: #ffffff;
}

.profileUnFollowBtn {
    background-color: #ff3636;
    color: #ffffff;
}