:root {
    --headerWidth: 200px;
    --contentCount: 5;
    --contentsMargin: 100px;
    --contentsWidth: calc(((100vw - (var(--headerWidth) + var(--contentsMargin))) / var(--contentCount)) - 10px);
}

.content {
    position: absolute;
    width: calc(100% - var(--headerWidth));
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
}

@media (max-width: 1024px) {
    :root {
        --headerWidth: 100px;
    }
}

@media (max-width: 768px) {
    :root {
        --headerWidth: 0px;
    }
}

.content::-webkit-scrollbar {
    display: none;
}

.profileWrapper {
    /* position: absolute; */
    /* background-color: red; */
    width: 1000px;
    height: 150px;
    margin: 50px auto;
}

.profileImg {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.profileName {
    position: absolute;
    margin-top: 20px;
    margin-left: 170px;
    font-size: 35px;
    font-family: "NanumSquareNeoBD";
}

.profileDesc {
    position: absolute;
    margin-top: 65px;
    margin-left: 170px;
    font-size: 20px;
    font-family: "NanumSquareNeoRG";
}

.profileStat {
    position: absolute;
    margin-top: 30px;
    right: calc(50% - 500px);
    text-align: center;
}

.profileStat div {
    display: inline-block;
    font-family: "NanumSquareNeoRG";
    font-size: 20px;
    margin-left: 30px;
}

.profileStat div div {
    display: block;
    font-family: "NanumSquareNeoBD";
    font-size: 40px;
    color: #2DA7FF;
    cursor: pointer;
    margin-left: 0;
}

.profileDynamicBtn {
    position: absolute;
    margin-top: 95px;
    margin-left: 170px;
}

.profileBtn {
    display: inline-block;
    width: auto;
    height: 35px;
    font-size: 20px;
    padding: 0px 10px;
    margin: 0px 5px;
    border-radius: 10px;
    line-height: 35px;
    cursor: pointer;
    transition: .1s;
    user-select: none;
    font-family: "NanumSquareNeoBD";
}

.profileBtn:hover {
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
}

.profileEditBtn {
    background-color: #d9d9d9;
}

.profileLogoutBtn {
    background-color: #ff3636;
    color: #ffffff;
}

.profileFollowBtn {
    background-color: #2DA7FF;
    color: #ffffff;
}

@media (max-width: 1200px) {
    .profileWrapper {
        width: 600px;
        height: 240px;
        /* background-color: red; */
        margin: 50px 50px;
    }
    .profileStat {
        /* padding-left: 100px; */
        margin-top: 170px;
        left: 30px;
        text-align: left;
    }
}

@media (max-width: 650px) {
    .profileWrapper {
        width: 400px;
        height: 160px;
    }
    .profileImg {
        width: 100px;
        height: 100px;
    }
    .profileName {
        font-size: 25px;
        margin-left: 110px;
    }
    .profileDesc {
        font-size: 15px;
        margin-top: 50px;
        margin-left: 110px;
    }
    .profileDynamicBtn {
        margin-top: 70px;
        margin-left: 110px;
    }
    .profileBtn {
        height: 25px;
        font-size: 15px;
        line-height: 25px;
    }
    .profileStat {
        margin-top: 110px;
        text-align: center;
        width: 100%;
        left: 0;

    }
    .profileStat div {
        font-size: 15px;
    }
    
    .profileStat div div {
        font-size: 30px;
    }
}

.contents {
    /* position: absolute; */
    width: calc(100% - var(--contentsMargin));
    /* height: calc(100% - 300px); */
    /* overflow: scroll; */
    /* background-color: red; */
    /* top: 330px; */
    /* left: 50px; */
    margin: 0 auto;
}

.contentChallenge {
    display: inline-block;
    width: var(--contentsWidth);
    height: calc(var(--contentsWidth) * 1.3);
    background-color: #d9d9d9;
    margin: 5px;
    border-radius: 20px;
}

.contentChallengeTitle {
    font-size: 18px;
    font-family: "NanumSquareNeoBD";
    margin-top: calc(var(--contentsWidth) * 1.3 - 50px);
    margin-left: 15px;
}

.contentChallengeCategory {
    font-size: 15px;
    font-family: "NanumSquareNeoRG";
    margin-top: 5px;
    margin-left: 15px;
}

@media (max-width: 1200px) {
    :root {
        --contentCount: 4;
    }
}

@media (max-width: 1024px) {
    :root {
        --contentCount: 3;
    }
}

@media (max-width: 650px) {
    :root {
        --contentsMargin: 40px;
    }
    .contentChallenge {
        border-radius: 10px;
    }
    .contentChallengeTitle {
        margin-left: 5px;
        margin-top: calc(var(--contentsWidth) * 1.3 - 35px);
        font-size: 13px;
    }
    .contentChallengeCategory {
        margin-left: 5px;
        font-size: 10px;
    }
}

/* .categoryNav {
    position: absolute;
    width: calc(100% - 100px);
    height: 50px;
    top: 280px;
    left: 50px;
    user-select: none;
}

.categories {
    display: inline-block;
    width: auto;
    height: 40px;
    margin: 5px;
    background-color: #f0f0f0;
    line-height: 30px;
    padding: 5px 15px;
    font-family: "NanumSquareNeoRG";
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.selectedCategory {
    background-color: #2DA7FF;
    color: #ffffff;
} */