.tagBox {
	display: flex;
	align-items: center;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.userInfo {
	display: flex;
	flex-direction: column;
}

.username {
	font-weight: bold;	
}

.description {
	color: #777;
}
