.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 10px 15px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.search-bar .search-icon {
  color: #aaa;
  font-size: 18px;
  margin-right: 10px;
}

.search-bar input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-family: "NanumSquareNeoBD";
  width: 100%;
}

.loading-icon {
  font-size: 18px;
  color: #aaa;
  margin-left: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
