.noTitle {
    word-break: keep-all;
    text-align: center;
    font-size: 40px;
    font-family: "NanumSquareNeoBD";
    margin-top: 50vh;
    transform: translateY(-100px);
}

.goHomeBtn {
    background-color: #2DA7FF;
    color: #ffffff;
    text-align: center;
    width: 120px;
    height: 40px;
    margin-left: calc(50% - 60px);
    font-size: 20px;
    padding: 0px 20px;
    border-radius: 20px;
    line-height: 40px;
    cursor: pointer;
    font-family: "NanumSquareNeoBD";
}