:root {
  --headerWidth: 200px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.content-wrapper {
  position: absolute;
  width: calc(100% - var(--headerWidth));
  margin-left: var(--headerWidth);
  height: 100vh;
  overflow: auto;
  scrollbar-width: none;
}

.noHeader {
  width: 100%;
  margin-left: 0;
}

.hoverBtns:hover {
  /* transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px; */
  filter: brightness(0.9);
}

@media (max-width: 1024px) {
  :root {
    --headerWidth: 100px;
  }
}

@media (max-width: 768px) {
  :root {
    --headerWidth: 0px;
  }
}

@font-face {
  font-family: "IrishGrover";
  src: url("../font/IrishGrover-Regular.ttf");
}


@font-face {
  font-family: "NanumSquareNeoLT";
  src: url("../font/NanumSquareNeo-aLt.ttf");
}

@font-face {
  font-family: "NanumSquareNeoRG";
  src: url("../font/NanumSquareNeo-bRg.ttf");
}

@font-face {
  font-family: "NanumSquareNeoBD";
  src: url("../font/NanumSquareNeo-cBd.ttf");
}

@font-face {
  font-family: "NanumSquareNeoEB";
  src: url("../font/NanumSquareNeo-dEb.ttf");
}

@font-face {
  font-family: "NanumSquareNeoHV";
  src: url("../font/NanumSquareNeo-eHv.ttf");
}


@font-face {
  font-family: "RobotoM";
  src: url("../font/Roboto-Medium.ttf")
}