.deleteProfileTitle {
    margin: 50px 0px;
    text-align: center;
    font-size: 45px;
    font-family: "NanumSquareNeoEB";
}

.deleteProfileDesc {
    margin: 50px 0px;
    text-align: center;
    font-size: 30px;
    font-family: "NanumSquareNeoBD";
}

.deleteProfileNotice {
    /* position: absolute; */
    margin: 100px auto;
    padding: 30px;
    width: 750px;
    background-color: #E1F3FF;
    border-radius: 20px;
    text-align: left;
    font-size: 20px;
    font-family: "NanumSquareNeoRG";
}

.deleteProfileNotice div {
    margin: 10px 0px;
}

.checkInput {
    display: none;
}

.checkInput + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #E1F3FF;
    border-radius: 6px;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    margin-top: -3px;
    left: calc(50% - 110px);
    margin-left: 20px;
}

.checkInput:checked + label {
    background-color: #2DA7FF;
    box-shadow: #2da7ff88 0px 0px 5px 2px;
}

.checkInput:checked + label::after {
    content: '';
    display: block;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3.5px 3.5px 0;
    transform: rotate(45deg);
    position: relative;
    top: 3px;
    left: 10px;
}

.checkInput + label + label {
    user-select: none;
    font-size: 20px;
    font-family: "NanumSquareNeoRG";
    cursor: pointer;
    margin-left: 10px;
    /* background-color: red; */
    position: absolute;
    width: 100%;
    text-align: center;
}

.deleteProfileBtn {
    margin: 200px auto;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    line-height: 40px;
    cursor: pointer;
    transition: .1s;
    font-family: "NanumSquareNeoBD";
    color: #ffffff;
}